/* #root {
  display: block;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  place-items: center;
  padding: 1rem;
} */

.appContainer {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  /* place-content: center; */
  /* background-color: #f0f0f0; */
  /* margin: 0 auto; */

  @media (width > 767px) {
    display: block;
    /* height: 100vh; */
    padding: 20px;
  }
}
h2 {
  margin-bottom: 20px;
}
body.active-modal {
  overflow-y: hidden;
}
